<div class="communication">
    <div class="top">
        <h2>Communication Report</h2>
    </div>
    <div class="bottom">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Patient</th>
                    <th>Provider</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chat sent</td>
                    <td>12</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Phone Calls mode</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Telemedicine Appts</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Office Visits</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <p>Total communication minites: 79</p>
    </div>
</div>