<div class="reimbursement">
    <div class="top">
        <h3>RPM Reimbursement</h3>
    </div>
    <div class="bottom">
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Date Billed</th>
                    <th>ICD Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123123</td>
                    <td>Processing</td>
                    <td>05/01/2021</td>
                    <td>EIL9</td>
                </tr>
                <tr>
                    <td>123123</td>
                    <td>Processing</td>
                    <td>05/01/2021</td>
                    <td>110</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
