/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'helvetica';
    src: url('src/assets/fonts/HelveticaNeue-Regular.otf');
}  
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variable";                      

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
}
.url {
    margin: 15px;
    text-align: center;
}