<div class="engagement">
    <div class="top">
        <h2>Engagement Types</h2>
        <div class="icons">
            <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i>
            <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i>
            <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i> <i class="fa fa-user"></i>
        </div>
    </div>
    <div class="bottom">
        <div class="box">
            <i class="fa fa-user"></i>
            <span>4 Apps</span>
        </div>
        <div class="box">
            <i class="fa fa-user"></i>
            <span>2 Desktop</span>
        </div>
        <div class="box">
            <i class="fa fa-user"></i>
            <span>7 Blood Preasure</span>
        </div>
        <div class="box">
            <i class="fa fa-user"></i>
            <span>7 Blood Sugar</span>
        </div>
        <div class="box">
            <i class="fa fa-user"></i>
            <span>5 Weight scale</span>
        </div>
    </div>
</div>