<div class="timeline">
    <div class="timeline-head">
        <h3>Alert Timeline</h3>
    </div>
    <div class="timeline-list">
        <div class="top">
            <div class="left">
                <i class="fa fa-user"></i>
            </div>
            <div class="right">
                <h3>05/11/21</h3>
                <p>Blood Sugar: 250 mg/dl</p>
            </div>
        </div>
        <div class="bottom">
            <p><span>Action Token:</span> sit amet consectetur adipisicing elit. Repellendus accusantium.</p>
        </div>
    </div>

    <div class="timeline-list">
        <div class="top">
            <div class="left">
                <i class="fa fa-user"></i>
            </div>
            <div class="right">
                <h3>05/11/21</h3>
                <p>Blood Sugar: 250 mg/dl</p>
            </div>
        </div>
        <div class="bottom">
            <p><span>Action Token:</span> sit amet consectetur adipisicing elit. Repellendus accusantium.</p>
        </div>
    </div>

    <div class="timeline-list">
        <div class="top">
            <div class="left">
                <i class="fa fa-user"></i>
            </div>
            <div class="right">
                <h3>05/11/21</h3>
                <p>Blood Sugar: 250 mg/dl</p>
            </div>
        </div>
        <div class="bottom">
            <p><span>Action Token:</span> sit amet consectetur adipisicing elit. Repellendus accusantium.</p>
        </div>
    </div>

    <div class="timeline-list">
        <div class="top">
            <div class="left">
                <i class="fa fa-user"></i>
            </div>
            <div class="right">
                <h3>05/11/21</h3>
                <p>Blood Sugar: 250 mg/dl</p>
            </div>
        </div>
        <div class="bottom">
            <p><span>Action Token:</span> sit amet consectetur adipisicing elit. Repellendus accusantium.</p>
        </div>
    </div>
</div>