.inner-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .left {
        width: 30%;
    }
    .right {
        width: 68%;
    }
}
.wrapper {
    padding: 20px;
}