<app-header></app-header>
<div class="wrapper">
    <app-user-profile [showAlert]="true"></app-user-profile>
    <div class="inner-wrapper">
        <div class="left">
            <app-timeline></app-timeline>
        </div>
        <div class="right">
            <app-communication></app-communication>
        </div>
    </div>
    <app-reimbursement></app-reimbursement>

    <!-- Go to previous screen -->
    <div class="url">
        <a href="javascript:void(0)" [routerLink]="'/'">Previous Screen</a>
    </div>
</div>
