<div class="profile">
    <div class="left-container">
        <div class="image">
            <img src="assets/images/avatar.png" alt="user not found">
        </div>
        <div class="user-info">
            <h2>Emily Patterson</h2>
            <p>DOB: <span>15/05/1993</span></p>
            <p>MRN: <span>12461</span></p>
            <p>Insurance: <span>Medicare</span></p>
            <p>Cell Phone Number: <span>(205) 555-5555</span></p>
        </div>
    </div>
    <div class="right-container">
        <div *ngIf="!showAlert">
            <div class="days">
                <span class="big-day">18</span>
                <span class="remaining-day">of 31 Days</span>
            </div>
            <div class="msg">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>
        </div>
        <div *ngIf="showAlert">
            <div class="days">
                <span class="big-day">4</span>
                <span class="remaining-day">Alerts</span>
            </div>
        </div>
    </div>
</div>